<div id="app" class="body-root" v-cloak="">
	<div class="body-header" >
		<div class="header-title">
			<i class="fa fa-heart" aria-hidden="true"></i> {{ $t("donatePage.title") }}
		</div>
		<div class="header-subtitle" >
			{{ $t("donatePage.subtitle") }}
		</div>
	</div>
<!--	<div class="body-content" >
		<div class="panel">
			<div class="body" >
				<div class="header-title" >{{ $t("donatePage.webwalletBlock.title") }}</div>
				<div class="content" >
					<span v-html="$t('donatePage.webwalletBlock.content')" ></span>
					<b>Masari:</b><br/>
			<a href="#send?address=wallet.masaricoin.com" >wallet.masaricoin.com</a> <br/>
			<a href="#send?address=5qfrSvgYutM1aarmQ1px4aDiY9Da7CLKKDo3UkPuUnQ7bT7tr7i4spuLaiZwXG1dFQbkCinRUNeUNLoNh342sVaqTaWqvt8" >5qfrSvgYutM1aarmQ1px4aDiY9Da7CLKKDo3UkPuUnQ7bT7tr7i4spuLaiZwXG1dFQbkCinRUNeUNLoNh342sVaqTaWqvt8</a></span><br/><br/>
					<b>Monero: </b>49hLitzVRDyPxaPd3LnecAQGnXdrYrwCyHuhqMEm8Whp12KebVP4H5AgXHCY9ZupXkiUUGJixdcy5Mn1yMqkyXXoHGLQuQF
				</div>
			</div>
		</div>-->
<!--		<div class="panel inline">
			<div class="body" >
				<div class="header-title" >{{ $t("donatePage.masariFundBlock.title") }}</div>
				<div class="content" >
					<span v-html="$t('donatePage.masariFundBlock.content')" ></span><br/>
					<b>Masari: </b><a href="#send?address=5nYWvcvNThsLaMmrsfpRLBRou1RuGtLabUwYH7v6b88bem2J4aUwsoF33FbJuqMDgQjpDRTSpLCZu3dXpqXicE2uSWS4LUP" >5nYWvcvNThsLaMmrsfpRLBRou1RuGtLabUwYH7v6b88bem2J4aUwsoF33FbJuqMDgQjpDRTSpLCZu3dXpqXicE2uSWS4LUP</a><br/> (viewkey: 99e21e00cce073c126e9aed800c9e2e82518534b3924b035a29436ff4f75bc0c)<br/>
					<b>Monero: </b>4A57eA3so6bEE8FUcaN1KtMXD3sxjjbvcKD3MF1pUgRi5PNHTpB7sYN2DmJv3EXxtZCWeG88tsVLzdfZJcmUFm52SbrfJWr<br/>(viewkey: c7a7c141581ac4436ba8bfb81dd67234720c565c696ef154a25c7e7314ce4b08)<br/>
					<br/>
					<b>Bitcoin: </b>1J1he4qtTuNpCxyEBozkeKfDpoeYxfE3rj<br/>
					<br/>
					<b>Bitcoin exchange listing fund: </b>12mZoYDzorgZr44sxv9cD4KzpPFocySL8D<br/>
					<b>Masari exchange listing fund: </b><a href="#send?address=9ppu34ocgmeZiv4nS2FyQTFLL5wBFQZkhAfph7wGcnFkc8fkCgTJqxnXuBkaw1v2BrUW7iMwKoQy2HXRXzDkRE76Cz7WXkD" >9ppu34ocgmeZiv4nS2FyQTFLL5wBFQZkhAfph7wGcnFkc8fkCgTJqxnXuBkaw1v2BrUW7iMwKoQy2HXRXzDkRE76Cz7WXkD</a><br/>
					<b>Monero exchange listing fund: </b>84TPXgT4fBQTr4SHLxiLh8gLnvT7y8QAvQRSvk3hnfHdP3mc5ttrNgr51xiAsLw45LHBr7h4Kn62uL8EQkYoYFVGN6zzfqu<br/>-->
				</div>
			</div>
		</div>
	</div>
</div>
