<div id="app" class="body-root" v-cloak="">
	<div class="body-header" >
		<div class="header-title">
			<i class="fa fa-pie-chart" aria-hidden="true"></i> {{ $t("networkPage.title") }}
		</div>
		<div class="header-subtitle" >
			{{ $t("networkPage.subtitle") }}
		</div>
	</div>
	<div class="body-content" >
		<div class="panel">
			<div class="body" >
				<div class="content" >
					<div>{{ $t("networkPage.statsBlock.hashrate") }}: {{networkHashrate}}MH/s</div>
					<div>{{ $t("networkPage.statsBlock.height") }}: {{blockchainHeight}}</div>
					<div>{{ $t("networkPage.statsBlock.difficulty") }}: {{networkDifficulty}}</div>
					<div>{{ $t("networkPage.statsBlock.lastTimeBlock") }}: {{ $d(new Date(lastBlockFound*1000), 'long')}}</div>
					<div>{{ $t("networkPage.statsBlock.lastReward") }}: {{lastReward}} XSL</div>
				</div>
			</div>
		</div>
	</div>
</div>
