<!--
  ~ Copyright (c) 2018, Gnock
  ~ Copyright (c) 2018, The Masari Project
  ~
  ~ Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
  ~
  ~ 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
  ~
  ~ 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.
  ~
  ~ 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products derived from this software without specific prior written permission.
  ~
  ~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
  -->

<div id="app" class="body-root" v-cloak="">
	<div class="body-header" >
		<div class="header-title">
			{{ $t("privacyPolicyPage.title") }}
		</div>
		<div class="header-subtitle" >
			{{ $t("privacyPolicyPage.subtitle") }}
		</div>
	</div>
	<div class="body-content" >
		<div class="panel">
			<div class="body" >
				<div class="content" >
					English version: <br/>
					<h3>1. Your Personal Information.</h3>
					<p>
						This application does not require registration. No personal information is collected, retained, or requested. Location access is not sought.<br/>
						No person from the Publisher or those affiliated with the Solo Project will ever request your data, keys, donations, or information relating
						to your wallet’s security or usage.
					</p>

					<h3>2. Camera</h3>
					<p>
						Your camera will only be used for reading QR codes and only if you choose to use the feature. QR code images are used by the wallet to help import address
						data. This wallet will never retain camera images and only activate your camera upon request.
					</p>

					<h3>3. Private Keys</h3>
					<p>
						Your private key/mnemonic phrase are the only way you can access your coins in the event of losing access to your device. Users are highly encouraged to
						backup and safeguard their key/phrase. The wallet publisher does not have the ability to recover your wallet in the event of a loss or hack.
					</p>

					<h3>4. Blockchain Transactions</h3>
					<p>
						Your transactions made using this wallet are relayed through a decentralized, global computational network. The recipient(s) and amount(s) of the
						transactions are not publicly visible. The wallet’s underlying operation does not take place on a centralized server.<br/>
						In considering this wallet and how transactions are processed, users should understand there is no entity with the ability to revert transactions or
						stop those that are pending. Users should be incredibly detailed when inputting addresses and amounts as once the transaction is authorized, it is final
						in every sense.
					</p>

					<h3>5. Usage Statistics</h3>
					<p>
						As your wallet interactions do not take place on a server, there is no record of your statistics, balances, transactions, nor application activity.
					</p>

					<h3>6. Support Requests</h3>
					<p>
						As a volunteer driven project, there is no group responsible for providing support for the wallet. However, helpful community members will often assist
						others, on their own volition, in a dedicated channel within the Solo Discord. Anyone can join at https://discord.gg/Ype4Y5B
					</p>

					<h3>7. More Info</h3>
					<p>
						This wallet is based on the client side wallet.minesolo.com. Terms of use and further information can be found there. The mobile wallet Publisher is producing
						this application to the benefit of the Solo community. It is completely open source and can be replicated by any project. Licensing and developer
						documentation is available on GitHub at <a href="https://gitlab.com/solo-project/solo-webwallet" >https://gitlab.com/solo-project/solo-webwallet</a>.
					</p>

					<h3>8. Terms of use</h3>
					<p>
						By using this application, you also agree to the terms of use <a href="#!termsOfUse" >available here</a>
					</p>

				</div>
			</div>
		</div>
	</div>
</div>
