<div id="app" class="body-root sendTab" v-cloak="">
	<div class="qrCodeScanningContainer native" id="nativeCameraPreview" >
		<h2 class="text" >{{ $t("sendPage.qrCodeScanning.explication") }}</h2>
		<div class="close" @click="stopScan()">
			<i class="fa fa-close" aria-hidden="true"></i>
		</div>
	</div>

	<div id="appContent" >
		<div class="body-header" >
			<div class="header-title">
				<i class="fa fa-level-up" aria-hidden="true"></i> {{ $t("sendPage.title") }}
			</div>
		</div>
		<div class="body-content" >
			<div class="panel">
				<div class="body" >
					<div class="field action" >
						<label>{{ $t("sendPage.sendBlock.address.label") }}</label>
						<div class="subfield" >
							<input type="text" v-model="destinationAddressUser" placeholder="Write the address where you want to send funds" :readonly="lockedForm" :class="{ twoActions: nfcAvailable}"/>
							<span class="action" @click="startScan()"><i class="scanButton fa fa-camera" aria-hidden="true"></i></span>
							<span class="action" @click="startNfcScan()" v-if="nfcAvailable"><i class="scanButton fa fa-rss" aria-hidden="true"></i></span>
						</div>
						<div v-if="!destinationAddressValid && destinationAddressUser != ''" class="message error">
							{{ $t("sendPage.sendBlock.address.invalid") }}
						</div>
						<div v-if="domainAliasAddress !== null" class="message">
							<b>{{ $t("sendPage.sendBlock.address.fundsTo") }}: </b> {{destinationAddress}}
						</div>
						<div v-if="txDestinationName !== null"  class="message">
							<b>{{ $t("sendPage.sendBlock.address.fundsTo") }}: </b>{{txDestinationName}}
						</div>
						<div v-if="txDescription !== null" class="message">
							<b>{{ $t("sendPage.sendBlock.address.description") }}: </b>{{txDescription}}
						</div>
					</div>

					<div class="field" >
						<label>{{ $t("sendPage.sendBlock.amount.label") }}</label>
						<input class="amountInput" type="text" v-model="amountToSend" placeholder="10.5 XSL" :readonly="lockedForm"/>
						<div v-if="!amountToSendValid && amountToSend != ''" class="message error">
							{{ $t("sendPage.sendBlock.amount.invalid") }}
						</div>
					</div>

					<div class="field" >
						<label>{{ $t("sendPage.sendBlock.paymentId.label") }}</label>
						<input class="amountInput" type="text" v-model="paymentId" placeholder="" :readonly="lockedForm"/>
						<div v-if="!paymentIdValid && paymentId != ''" class="message error">
							{{ $t("sendPage.sendBlock.paymentId.invalid") }}
						</div>
					</div>

					<div class="actions tc">
						<button type="button" class="btn primary" @click="send()" :disabled="!destinationAddressValid || !amountToSendValid" >{{ $t("sendPage.sendBlock.sendButton") }}</button>
					</div>
					<div class="actions tc" v-if="lockedForm" >
						<button type="button" class="btn small" @click="reset()" >{{ $t("sendPage.sendBlock.cancelButton") }}</button>
					</div>
				</div>
			</div>
		</div>

		<div class="qrCodeScanningContainer" :class="(qrScanning ? '' : 'hidden')">
			<div class="close" @click="stopScan()">
				<i class="fa fa-close" aria-hidden="true"></i>
			</div>
			<h2>{{ $t("sendPage.qrCodeScanning.explication") }}</h2>
			<div class="videoContainer" >
				<video width="100" id="cameraVideoFluxForDelivery" autoplay></video>
			</div>
		</div>
	</div>
</div>
