<div id="app" class="body-root" v-cloak="">
	<div class="body-header" >
		<div class="header-title">
			{{ $t("termsOfUsePage.title") }}
		</div>
		<div class="header-subtitle" >
			{{ $t("termsOfUsePage.subtitle") }}
		</div>
	</div>
	<div class="body-content" >
		<div class="panel">
			<div class="body" >
				<div class="content" >
					English version: <br/>
					It is understood that interactions with wallet.minesolo.com’s web wallet are entirely client-side. <br/>
					That wallet.minesolo.com has no control or access to your wallet’s private keys, nor do they have the ability to recover your funds in any event of loss.<br/>
					In all circumstances, wallet.minesolo.com, Solo Core Team, Solo promoters, or any entity affiliated with the Solo project will not be liable for loss or misuse of funds held using the aforementioned wallet.<br/>
					Users also understand and agree that they are solely responsible for providing a secure environment to interact with a wallet.minesolo.com web wallet.<br/>
					Additionally, wallet.minesolo.com cannot, and will not, be held liable for use of funds originating from or arriving to a web wallet.<br/>
					By creating, importing, or interacting with a wallet on wallet.minesolo.com, you implicitly agree to these terms, and absolve the website owners and affiliates of any and all liability.<br/>
					<br/>
					<a href="#!privacyPolicy" >Privacy policy (EN)</a>
				</div>
			</div>
		</div>
	</div>
</div>
