<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Solo Web Wallet</title>
	<meta property="og:title" content="Solo Web Wallet" />
	<meta property="twitter:title" content="" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, user-scalable=no">

	<!--<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://wallet.minesolo.com 'unsafe-eval' ; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">-->
	<meta name="referrer" content="none">
	<meta name="msapplication-tap-highlight" content="no">

	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="stylesheet" href="assets/css/font-awesome.min.css" />

	<link rel="manifest" href="/manifest.json">

	<!-- Add to home screen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Solo">

	<link rel="icon" href="./assets/img/favicon.ico" />
	<link rel="apple-touch-icon" href="assets/img/icons/icon-152x152.png">
	<meta name="msapplication-TileImage" content="assets/img/icons/icon-144x144.png">
	<link rel="icon" type="image/png" href="assets/img/icons/icon-144x144.png">

	<!-- Windows -->
	<meta name="msapplication-TileColor" content="#36393">
	<meta name="theme-color" content="#36393">

	<meta name="description" content="" />
	<meta property="og:description" content="" />
	<meta property="twitter:description" content="" />

	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://wallet.minesolo.com/" />
	<meta property="og:image" content="https://wallet.minesolo.com/images/icons/icon-144x144.png" />

	<meta property="twitter:card" content="summary" />
	<meta property="twitter:site" content="https://wallet.minesolo.com/" />

	<meta property="twitter:creator" content="@SoloXsl" />

	<meta name="fragment" content="!">

</head>
<body class="menuHidden menuDisabled">

<div id="topBar" >
	<a href="#!index" class="toggleMenu"><i class="fa fa-bars" aria-hidden="true"></i></a>
</div>

<div id="menu" >
	<a><img src="./assets/img/logo.png"/></a>
	<a href="#!index" class="onlyNotConnected"><span class="icon" ><i class="fa fa-bank" aria-hidden="true"></i></span> {{ $t("menu.home") }}</a>
	<a href="#!account" class="onlyWhenConnected"><span class="icon" ><i class="fa fa-bank" aria-hidden="true"></i></span> {{ $t("menu.account") }}</a>
	<a href="#!send" class="onlyWhenConnected notViewOnlyWallet"><span class="icon" ><i class="fa fa-level-up" aria-hidden="true"></i></span> {{ $t("menu.send") }}</a>
	<a href="#!receive" class="onlyWhenConnected"><span class="icon" ><i class="fa fa-level-down" aria-hidden="true"></i></span> {{ $t("menu.receive") }}</a>
	<a href="#!export" class="onlyWhenConnected"><span class="icon" ><i class="fa fa-download" aria-hidden="true"></i></span> {{ $t("menu.export") }}</a>
	<a href="#!settings" class="onlyWhenConnected"><span class="icon" ><i class="fa fa-cog" aria-hidden="true"></i></span> {{ $t("menu.settings") }}</a>
	<a href="#!donate" ><span class="icon" ><i class="fa fa-heart" aria-hidden="true"></i></span> {{ $t("menu.donate") }}</a>
	<a href="#!disconnect"  class="onlyWhenConnected"><span class="icon" ><i class="fa fa-cog" aria-hidden="true"></i></span> {{ $t("menu.disconnect") }}</a>
	<a href="#!network" ><span class="icon" ><i class="fa fa-pie-chart" aria-hidden="true"></i></span> {{ $t("menu.network") }}</a>
</div>

<div id="pageLoading" >
	<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
	<span class="sr-only">{{ $t("global.loading") }}...</span>
</div>

<div id="page" ></div>

<div id="copyright" v-cloak="" >
	<div class="hideOnNative" >© 2018 wallet.minesolo.com</div>
	<div class="links" >
		<select v-model="language" class="hideOnNative">
			<option value="en">English</option>
			<option value="sr">Српски</option>
			<option value="de">Deutch</option>
			<option value="fr">Français</option>
			<option value="it">Italian</option>
			<option value="hu">Magyar</option>
			<option value="gr">Ελληνικά</option>
			<option value="pl">Polski</option>
			<option value="es">Español</option>
		</select>
		<a href="#!termsOfUse" >{{ $t("bottom.termsOfUse") }}</a>
		<a href="#!privacyPolicy" >{{ $t("bottom.privacyPolicy") }}</a>
		<a class="hideOnNative" href="#!support" >{{ $t("bottom.support") }}</a>
		<a class="hideOnNative" href="#!donate" >{{ $t("bottom.donate") }}</a>
		<a class="hideOnNative" href="#!network" >{{ $t("bottom.network") }}</a>
		<a class="hideOnNative" href="https://minesolo.com/" target="_blank" >{{ $t("bottom.miningPool") }}</a>
		<a class="hideOnNative" href="https://gitlab.com/solo-project/solo-webwallet" target="_blank">{{ $t("bottom.github") }}</a>
	</div>
	<div class="cb" ></div>
</div>

<!--<script src="lib/polyfills/weakmap.min.js"></script>-->
<script src="lib/polyfills/core.min.js"></script>
<script src="lib/polyfills/textEncoding/encoding-indexes.js"></script>
<script src="lib/polyfills/textEncoding/encoding.js"></script>
<script src="lib/polyfills/crypto.js"></script>

<script src="lib/biginteger.js"></script>
<script src="config.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js" ></script>-->
<script src="lib/vue.min.js" ></script>
<script src="lib/vue-i18n.js" ></script>
<script src="lib/jquery-3.2.1.min.js"></script>
<script src="lib/sweetalert2.js"></script>
<script src="lib/sha3.js"></script>
<script src="lib/crypto.js"></script>
<!--<script src="lib/qrcode.min.js"></script>-->
<script src="lib/kjua-0.1.1.min.js"></script>
<!--<script src="lib/nacl-fast-cn.js"></script>-->
<script src="lib/nacl-fast.js"></script>
<script src="lib/nacl-util.min.js"></script>
<script src="lib/base58.js"></script>
<script src="lib/jspdf.min.js"></script>
<!--<script src="lib/mnemonic.js"></script>-->
<script src="lib/cn_utils_native.js"></script>
<script src="lib/FileSaver.min.js"></script>
<script data-main="index.js" src="lib/require.js"></script>

</body>
</html>
